/* Here starts the CSS for btn-3 */

body {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

a {
  font-size:14px;
  padding:1em;
  cursor:pointer;
  text-decoration: none;
}


.btn-1 {
  color:white;
  font-weight:700;
  background-color:#8fbbe6;
  border-color:transparent;
  border-radius:30px;
  box-shadow: 1px 2px 1px 1px  #5691cc;
  text-shadow: -1px 0  #5e8ed6;
  transition:1s;
}

.btn-1:hover{
  background-color:#5691cc;
  border-color:transparent;
}

/* Here starts the CSS for btn-2 */
.btn-2 {
  position:relative;
  color:white;
  text-shadow:-3 0 #6c6cff ;
  border-radius:3px;
  background-color: #6c6cff;
  border:none;
  transition:800ms ease all;
  outline:none;
}


.btn-2:hover{
  background:white;
  color:#6c6cff;
}

.btn-2:before,.btn-2:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:0;
  height:2px;
  background-color:#6c6cff;
  transition:400ms ease all;
}
.btn-2:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-2:hover:before,.btn-2:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* Here starts the CSS for btn-3 */

.btn-3 {
  border-color: blue;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 800ms ease-in-out;
}

  .btn-3:hover {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
    color:blue;
  }

/* Here starts the CSS for btn-4 */


.btn-4{
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: white;
  padding-top:10px;
  background: #ed1c5b;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);

}
.btn-4:after{
  font-size: 2.5em;
  line-height: 1.1em;
}
.btn-4:hover{
    transform: rotate(180deg);
    box-shadow: 0 0 1px 15px rgba(#8A3B58, 0.4),
    0 0 1px 30px rgba(#8A3B58, 0.1),
    0 0 1px 45px rgba(#8A3B58, 0.1);
  }

.play {
  font-size: 30px;
}


