

.content
{
 position:relative;
 z-index:4;
 background-color: #96CBFF;
 padding:20px;
 box-shadow: 10px 7px 2px 3px #6CB7FF;
 margin-left:10px;
 margin:0px 20px 180px 20px;
 text-align:justify;
}

p {
  font-size:20px;
}




.footer{
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height:100px;
  text-align:center;
  border-top:1px black;
  background-color:;
}

